<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<bean id="tBoxRefreshJob" class="com.laijia.mongodb.task.TBoxRefreshJob"></bean>
	<!---eventbus -->
	<bean id="eventBus" class="com.laijia.mongodb.event.AsyncEventBusFactoryBean"
		lazy-init="false">
	</bean>
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"></bean>
	<task:scheduled-tasks>
		<task:scheduled ref="tBoxRefreshJob" method="refreshRentCars"
			initial-delay="10000" fixed-rate="60000" />
	</task:scheduled-tasks>
</beans>